.aw-create-class-dialog-container {
  display: flex;

  .p-dialog-header {
    border-radius: 10px 10px 0 0;
  }
  .p-dialog-footer {
    border-radius: 0 0 10px 10px;
  }

  .aw-footer-container {
    button {
      border: none;
      box-shadow: none;
      border-radius: 5px;
    }
    .aw-cancel-btn {
      color: #9c4df4;
    }
    .aw-create-btn {
      background-color: #9c4df4;
      color: white;
    }
  }
}
