.aw-class-detail-menu-container {
  .aw-menu-item {
    a {
      color: #ccced3;
      text-decoration: solid;
      &:hover {
        color: #0a033c;
      }
      &:active {
        color: #0a033c;
      }
    }
  }
  .p-tabmenu {
    position: relative;

    .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
      border-color: #0a033c;
      color: #0a033c;
    }
  }

  .btn-invite {
    position: absolute;
    right: 30px;
    top: 60px;
    margin-top: 7px;
    padding: 6px 18px;
    border-radius: 6px;
    font-weight: bold;
  }

  .btn-send-invitation {
    background: #fff;
    color: #000;
  }
}

.p-dialog {
  .p-dialog-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .p-dialog-content {
    padding: 0.25rem 1.5rem 2rem 1.5rem !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.p-chips .p-chips-multiple-container {
  width: 100%;
  border-radius: 6px;
}
