.aw-form-container {
  border-radius: 20px;
  background: #f7f5fa;
  box-shadow: 0px 50px 80px 0px rgba(0, 0, 0, 0.05);

  .aw-input-field {
    border-radius: 10px;
    border: 1px solid #dedde4;
    background: #fff;
  }
  .aw-submit-button {
    background-color: #9c4df4;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    &:hover {
      filter: brightness(90%);
      background-color: #9c4df4 !important;
    }
  }

  .aw-cancel-button {
    background-color: transparent !important;
    color: #9c4df4 !important;
    border-radius: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: solid 1px #9c4df4 !important;
    &:hover {
      filter: brightness(90%);
    }
  }

  .aw-alert-container {
    background-color: white;
    border: none;
    a {
      text-decoration: none;
      color: #9c4df4;
      font-size: 14px;
    }
  }

  .aw-social-login-button-container {
    display: flex;
    align-items: flex-start;
    gap: 31.495px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 38.487px 71.476px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 16px;
    border: none;
    width: 100%;
    .aw-social-login-icon {
      margin-left: 16px;
      width: 50.392px;
      height: 50.392px;
      flex-shrink: 0;
    }
    .aw-social-login-button-label {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .aw-facebook-background-color {
    background-color: #1877f2;
  }
  .aw-facebook-label-color {
    color: #fff;
  }
  .aw-google-background-color {
    background-color: #fff;
  }
  .aw-google-label-color {
    color: rgba(0, 0, 0, 0.54);
  }
}
